* {
	box-sizing: border-box;
}
html {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
	height: 100%;
}
.container {
	max-width: 1100px;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}
.site-header {
	background-color: rgb(80, 33, 33);
	padding-top: 20px;
	padding-bottom: 20px;
}
.site-header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo img {
	background-color: transparent;
	object-fit: cover;
}
.btn {
	color: rgba(0, 0, 0, 0.732);
	font-size: 48px;
	text-decoration: none;
	transition: all 0.4s ease;
}
.btn:hover {
	transform: scale(1.5);
	color: rgb(255, 0, 0);
}
.btn:active {
	opacity: 0.6;
}
.main-content {
	flex-grow: 1;
}
.site-title {
	font-size: 56px;
	text-align: center;
	color: rgba(255, 255, 255, 0.799)9);
}
.site-footer {
	background-color: rgb(0, 0, 0);
}
.site-footer__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.site-footer p,
.site-footer a {
	font-size: 36px;
	color: rgb(255, 25, 25);
	text-shadow: 1px 4px 2px rgba(255, 255, 255, 0.852);
}
.modal {
	position: fixed;
	top: 50%;
	left: calc(50% - 250px);
	box-shadow: rgb(0, 0, 0) 0px 3px 8px;
	min-width: 500px;
	min-height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 36px;
	line-height: 2;
	font-weight: 500;
	text-align: center;
	background: rgb(0, 0, 0);
	text-shadow: 0px 0px 5px rgba(255, 255, 255, 1), 0px 0px 10px rgba(255, 255, 255, 1), 0px 0px 15px rgba(255, 255, 255, 1),
		0px 0px 20px rgb(0, 0, 0), 0px 0px 30px rgb(255, 255, 255), 0px 0px 40px rgba(73, 255, 24, 1),
		0px 0px 55px rgb(255, 255, 255), 0px 0px 75px rgba(73, 255, 24, 1);
	border-radius: 8px;
}
.event {
	display: none;
}
.event__list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
}
.event__item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: space-between;
	max-width: 220px;
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	height: 300px;
	margin: 20px;
}

.event__top {
	background-color: rgb(16, 16, 16);
	color: rgb(255, 0, 0);
	text-align: center;
	font-size: 24px;
}
.event__title {
	font-size: 36px;
	text-align: center;
	color: rgb(4, 0, 255);
	background-color: rgba(255, 255, 0, 0.414);
	padding-top: 70px;
	padding-bottom: 70px;
}

.event__text {
	background-color: #00000073;
	padding: 10px;
}
